.header {
    display: flex;
    flex-direction: column;
    background-image: url("../images/bg.png");
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar > img {
    margin-left: 100px;
    height: 50px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    margin-right: 100px;
}

.nav-menu > p {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.hero-section {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.title-hero {
    font-family: arial;
    font-size: 36px;
    font-weight: bold;
}

.title-desc {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
}

.hero-section-left > button {
    display: inline;
    width: 140px;
    height: 36px;
    background-color: #5cb85f;
    border-radius: 2px;
    border: none;
    color: white;
    cursor: pointer;
}

.cta-banner > button {
    background-image: url("../images/button_mulai_sewa.png");
    width: 140px;
    height: 36px;

    align-self: center;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* ===== CSS CTA Banner ===== */
.cta-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../images/bg_cta_banner.png");
    width: 1168px;
    height: 326px;
    margin-left: auto;
    margin-right: auto;
}

.cta-title {
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;

    text-align: center;
    color: white;
}

.cta-desc {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;

    text-align: center;
    line-height: 20px;
    color: white;
}

.testimonial-desc > p {
    width: 468px;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;

    color: white;
}

/* ===== CSS Testimonial ===== */
.testimonial {
    display: flex;
    flex-direction: column;
}

.testimonial-title > p {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;

    text-align: center;
}

.testimonial-desc > p {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;

    text-align: center;
    line-height: 20px;
}

.testimonial-list {
    display: flex;
    justify-content: center;
}

.testimonial_block_center {
    background-image: url("../images/testimony_background.png");
    border-radius: 20px;
    width: 615px;
    height: 270px;

    display: flex;
    justify-content: center;
    margin: auto 10px;
}

.testimonial_block_side {
    background-image: url("../images/testimony_background.png");
    border-radius: 20px;
    width: 615px;
    height: 270px;

    display: flex;
    justify-content: center;
    margin: auto 10px;
}

.testimonial-photo {
    margin: auto 20px;
}

.testimonial-content {
    margin: auto 20px;
}

.testimonial-message {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

.testimonial-arrow {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.testimonial-arrow > button {
    margin: auto 10px;
}

@media screen and (max-width: 1100px) {
    .testimonial_block_side {
        display: none;
    }